/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
 
.sp1{
    font-size: 11px;
    color: #f1b143;
    text-transform:uppercase ;
}